html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  scroll-padding-top: calc(var(--menu-height) + var(--space-2));
}

body {
  @include font('body');

  display: grid;
  grid-template-rows: auto 1fr auto;
  color: var(--color-black);
  background: var(--color-white);

  &::after {
    @include debug-view {
      content: '';

      position: fixed;
      inset: 0;

      pointer-events: none;

      background-image: linear-gradient(to right, transparent var(--space-gutter), red 0);
      background-size: calc((100vw - var(--space-gutter)) / 6);
      opacity: 0.1;
    }
  }
}

a {
  -webkit-tap-highlight-color: rgba(255 255 255 / 0%);
  color: inherit;
  text-decoration-line: none;
  text-decoration-thickness: inherit;

  .prose & {
    text-decoration-line: underline;
    text-underline-offset: inherit;
    text-decoration-thickness: inherit;
    text-decoration-color: var(--color-accent);
  }

  &[href^='tel:'] {
    text-decoration: none;
  }
}

main {
  display: grid;
  grid-template-rows: auto 1fr;
}

figure {
  img {
    @include no-select;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: var(--focus-x, 50%) var(--focus-y, 50%);
  }

  img[data-lazyload][data-decoded='true'] {
    opacity: 1;
  }

  img[data-photoswipe] {
    cursor: pointer;
    cursor: zoom-in;
  }

  figcaption:empty {
    display: none;
  }
}

.label {
  @include font('label');
}
