.article {
  display: grid;
  grid-template-columns: column-span(2) column-span(4);
  gap: var(--space-gutter);
  padding-block: var(--space-2);
  padding-inline: var(--space-gutter);
  padding-bottom: var(--space-3);

  @include mobile {
    grid-template-columns: 1fr;
    padding: 0;
  }

  &__sidebar {
    @include font('toc');

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-gutter);

    @include mobile {
      padding: var(--space-gutter);
      padding-top: 0;
      background: var(--color-accent);
      height: min-content;

      &, * {
        color: var(--color-white) !important;
      }
    }

    > *:first-child {
      position: sticky;
      top: calc(var(--menu-height) + var(--space-2));

      @include mobile {
        position: relative;
        top: unset;
      }
    }

    > *:last-child {
      position: sticky;
      bottom: var(--space-gutter);

      @include mobile {
        position: relative;
        bottom: unset;
      }
    }

    a {
      color: var(--color-lightgray);
    }

    a:hover,
    a.is-active {
      color: var(--color-accent);
    }

    .attachments {
      @include font('attachments');
    }
  }

  &__content {
    @include mobile {
      padding: var(--space-gutter);
    }

    .prose {
      max-width: 70rem;
    }
  }
}
