.articles {
  max-width: 70rem;

  &__entry {
    display: flex;
    flex-direction: column;

    & + .articles__entry {
      margin-top: var(--space-2);
    }

    .label {
      margin-bottom: var(--space-0);
    }

    h2 {
      @include font('h1');
      margin-bottom: var(--space-0);
    }

    figure {
      margin-top: var(--space-0);
      margin-bottom: var(--space-gutter);
      figcaption { display: none; }
    }

    .readmore {
      @include font('menu');
      margin-top: var(--space-0);
      color: var(--color-accent);
      text-align: right;
    }
  }
}
