.footer {
  @include font('menu');
  justify-content: space-between;
  padding: var(--space-gutter);
  color: var(--color-white);
  background: var(--color-black);

  &:hover &__link a:not(.is-active, :hover) {
    color: var(--color-lightgray);
  }

  &,
  &__links,
  &__partners {
    display: flex;
    align-items: center;
    gap: var(--space-gutter);

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--space-0);
    }
  }

  &__partner {
    @include mobile {
      min-width: 33vw;
    }
  }

  a {
    @include easing(color);
  }
}
