@import 'photoswipe/style.css';
@import '/style/reset';
@import '/style/fonts';
@import '/style/prose';

:root {
  --color-accent: #000; // See below

  --color-white: #FFF;
  --color-black: #000;
  --color-darkgray: #2F312F;
  --color-lightgray: #A0A0A0;
  --color-blue: #4200FA;
  --color-lightblue: #38B4FF;
  --color-green: #00BE40;
  --color-yellow: #FFB400;
  --color-red: #F83053;

  --space-0: 1rem;
  --space-1: 2rem;
  --space-2: 4rem;
  --space-3: 8rem;
  --space-gutter: var(--space-1);

  --z-menu: 9;

  --easing: 200ms;

  --body-font-family: akkurat, sans-serif;
  --body-font-size: 1.8rem;
  --body-line-height: 1.33;
  --body-text-decoration-thickness: 1.5px;
  --body-text-underline-offset: 0.26em;

  --menu-font-size: 1.6rem;
  --menu-font-weight: bold;
  --menu-text-transform: lowercase;

  --label-font-size: 1.2rem;
  --label-font-weight: bold;
  --label-text-transform: uppercase;

  --h1-font-size: 3rem;
  --h1-font-weight: bold;
  --h1-text-transform: uppercase;
  --h1-line-height: 115%;

  --quote-font-size: 2rem;
  --quote-font-style: italic;

  --caption-font-size: 1.6rem;
  --caption-font-style: italic;

  [data-uri='actualites'] { --color-accent: var(--color-red); }
  [data-uri='qui-sommes-nous'] { --color-accent: var(--color-blue); }
  [data-uri='publications'] { --color-accent: var(--color-green); }
  [data-uri='salaires-et-conventions'] { --color-accent: var(--color-lightblue); }
  [data-uri='ressources'] { --color-accent: var(--color-yellow); }
}

/**
 * Return the left offset of a column
 */
@function column-start ($col, $columns: 6) {
  $column-width: calc((100vw - var(--space-gutter)) / $columns);
  @return calc(var(--space-gutter) + $column-width * $col); // stylelint-disable-line at-rule-empty-line-before
}

/**
 * Return the width of a column span
 */
@function column-span ($col, $columns: 6) {
  $column-width: calc((100vw - var(--space-gutter)) / $columns);
  @return calc($column-width * $col - var(--space-gutter)); // stylelint-disable-line at-rule-empty-line-before
}

/* stylelint-disable no-invalid-position-at-import-rule */

@import '/style/base';
@import '/components/Article';
@import '/components/Footer';
@import '/components/Header';
@import '/components/Label';
@import '/components/Menu';
@import '/components/Photoswipe';
@import '/components/cards/Page';
@import '/components/cards/Page.Publication';
@import '/views/home';
@import '/views/search';
@import '/views/submit';
@import '/views/pages';
